nav{
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-around; /* 바깥여백을 남기고 자식간의 공간을 띄움*/
  align-items: center; /* 세로정렬 에서 가운데로 이동*/
  font-weight: 700px;
} 

main{
  height: 969px;
  background-color: rgb(41, 65, 171);
  background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
  background-size: 175%;
  background-position: 46% 4%;
  display:flex;
  justify-content: center; /*가로열 중간으로*/
  align-items: center; /* 세로열 중간으로*/
}

footer{
  height: 530px;
  background-color: black;
  display: flex;
  justify-content:  center;
}

body{
  color: white;
  margin: 0px; /* 기본적으로 body에 margin이 8px;로 설정 되있기 떄문에 margin을 0px;로
  오버라이드 한다.*/
  font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
}

a{
  color: white;
  text-decoration: none;
}
.nav-item{
  padding: 28px 17px; /*세로, 가로*/
}
a:hover{
  color: #1ed760;
}

.head-line{
  font-weight: 900;
  font-size: 156px;
  color: #1ed760;
  position: relative;
  left: 225px;
  padding-bottom: 40px;
}
.headline-first{
  position: relative;
  left: -2.5em; /* em은 단위중 하나 글씨체 기준으로 움직인다. 여기서는 부모의 글씨체 크기156px을 기준으로 1em은 156px이 된다. px, em, ch, vh 등등 반응형 웹사이트나 앱을 만들떄 유용하게 쓸 수 있다. 그리고 글씨가 전체적으로 왼쪽으로 치우치게 되는데 이는 우리에게 spotify 글씨체가 없기때문*/
}
.headline-sub{
  color: #1ed760;
  font-size: 18px;
  text-align: center;
  padding-bottom: 40px;
}

.button-area{
  text-align: center;
}

.button-style{
  padding: 14px 32px;
  border-radius: 500px;
  background-color: #1ed760;
  font-size: inherit; /* 부모의 속성값을 상속받음 즉, 부모의 font-size 적용*/
  border: none;
  color: #2941ab;
  font-weight: 700;
}


.button-style:hover{
  transform: scale(1.1); /*trasform = 변환 / scale = 크기 조정*/
}
.f-main-container{
  padding-top: 80px;
  padding-bottom: 50px;
  max-width: 1170px;
  width: 100%;
  
}
.f1{
  display: flex;
  justify-content: space-between;
  height: 346px;
}
.ff{
  display: flex;
}
.first-box{
  margin : 0 20px;
  display: flex;
  flex-direction: column;
}
.first-style{
    padding-bottom: 15px;
    padding-top: 3px;
    font-size: 16px;
}
.second-line{
  display: flex;
  justify-content: space-between;
  color: #919496;
}
.first-line{
  display: flex;
  justify-content: end;
  color: #919496;
  font-size: 12px;
}
.icon-container{
  display: flex;
  justify-content: center;
  background-color: #222322;
  width: 54px;
  height: 54px;
  margin-right: 15px;
  border-radius: 50px;
  align-items: center;
}
.second-box{
  display: flex;
}
.se-font-style{
  color: #919496;
  margin-right: 20px;
}
.first-title{
  color: #919496;
  font-weight: 900;
  margin: 20px 0px;
}
